* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #1C82AD;

}

.container {
    width: 100%;
    padding: 0px !important;
}

.misaki {
    width: 44vh;
    display: block;
    margin: 13vh auto 0vh auto !important;

}

.container-cuerpo {
    width: 60vh;
    height: 100vh;
    margin: 0px auto 0px auto;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

.cuerpo {
    width: 90%;
    margin: 0px auto 0px auto;

}

.widget {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin: 0px auto 0px auto;
    color: aliceblue;
}

.widget p {
    display: inline-block;
    line-height: 0.5em;
}

.reloj {
    font-size: 2em;

}

.fecha {
    font-size: 1em;
}