* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #754A33;

}

.container {
    width: 100%;
    height: 100%;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* background-attachment: fixed; */
}

.container-reloj {
    width: 100%;
}

.misaki {
    width: 20rem;
}

.container-cuerpo{
    width: 50%;
    margin: 0px auto 0px auto;
}

.cuerpo {
    width: 40% !important;
    margin: 0 auto 0 auto;
}

.widget {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    margin: 40px auto 0px auto;
    color: aliceblue;
}

.widget p {
    display: inline-block;
    line-height: 0.5em;
}

.reloj {
    font-size: 2em;

}

.fecha {
    font-size: 1em;    
}